@use "@/fontsMixins.scss";

.button {
    @include fontsMixins.h4;
    color: #F4F6F9;
    background: #403432;
    padding: 14px 28px 13px 28px;
    transition: 0.2s;
    display: flex;
    gap: 4px;    
    display: flex;
    justify-content: center;
    align-items: center;

    &.success {
        cursor: not-allowed;
        background: #5B3A32;
        pointer-events: none;
        padding-left: 9px;
        padding-right: 9px;
        padding-top: 14px;
        padding-bottom: 13px;
    }

    &:hover {
        background: #776763;
    }

    &:disabled {
        background: #C1B4B1;
        cursor: not-allowed;
    }
    
}